{% extends 'base.html' %}
{% block content %}
<div class="login-container">
    <form method="post">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="website" class="logo">
        <h2 class="form-title">Login</h2>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="btn" type="submit">Login</button>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Signup Here</a></p>
    </form>
</div>
{% endblock %}